<!--    Button trigger modal
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button>
        componente hijo
<app-modal></app-modal> -->




<!-- <p>{{Titulo}}</p> -->

<!--<p>Fecha de hoy: {{Fecha2 | date:'yyyy-MM-dd'}}</p>
<p>mes actual: {{getMesNumber}}</p>-->
<!-- APP MODAL ----------------------------- -->
<!-- ng if-->
<!-- <button class="btn btn-primary" (click)="obtenerDia()">obtener dia</button>
<p>el dia es : {{getDiaNumber}}</p>

<button class="btn btn-primary" (click)="sumar()">sumar</button>
<hr>
<h3>{{Contador}}</h3>
<button class="btn btn-primary" (click)="restar()">restar</button>

agregar dia-->
<!-- <div class="row">
    <div class="col-6">
        <label for="nuevodia" class="sr-only">ingrese el dia</label>
        <input type="text" class="form-control" id="nuevoDia" [(ngModel)]="nuevoDia" name="nuevoDia" placeholder="ingrese el nuevo dia">
    </div>
    <button type="button" class="btn btn primary mb-2" (click)=agregarDia()>Agregar dia</button>
</div> -->

<!--ng for-->

<!-- <ul>
    <li *ngFor="let dia of dias_semana; let i=index">

        <p *ngIf="getDiaNumber == i; else templateName">
            <b>{{dia}}</b>
        </p>
        <ng-template #templateName>
            {{dia}}
        </ng-template>
    </li>
</ul> -->

<!--eliminar dia -->
<!-- <h3>el elemento eliminado es: {{eliminado}}</h3>
<button class="btn btn-primary" (click)="eliminar()">eliminar</button>
-->
<!-- form-->
<!-- 
<form (submit)="insertar()">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">correo</label>
        <input [(ngModel)]="email" name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">pon tu correo completo</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">contraseña</label>
        <input [(ngModel)]="password" name="password" type="password" class="form-control" id="password">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>  -->